<!DOCTYPE HTML>
<html>
	<h1>Play Game</h1>
	<a id='playGameButton' class='btn btn-primary' >Play Game</a>
		<div class="row-fluid">
			<div class="col-lg-6">
				<h3>Home Team</h3>
					<div class = "row-fluid">
						<table id = "homeTeamTable" border="3" width="100%">
  							<tr>
    							<th>Order</th>
    							<th>Name</th>
    							<th>Position</th>		
    							<th>AB</th>
    							<th>R</th>
    							<th>H</th>
    							<th>HR</th>
    							<th>RBI</th>
    							<th>BB</th>
								<th>SO</th>
  							</tr>
  							<% for(i = 0; i < homeTeam.Lineup.length; i++){ %>
							<tr>
								<td><%= i + 1 %></td>
								<td><%= homeTeam.Lineup[i].Name %></td>
								<td><%= homeTeam.Lineup[i].Position %></td>
								<td><%= homeTeam.Lineup[i].gameStats.PlateAppearances - homeTeam.Lineup[i].gameStats.Walks %></td>
								<td><%= homeTeam.Lineup[i].gameStats.Runs %></td>
								<td><%= homeTeam.Lineup[i].gameStats.Singles + homeTeam.Lineup[i].gameStats.Doubles + homeTeam.Lineup[i].gameStats.Triples + homeTeam.Lineup[i].gameStats.HomeRuns %></td>
								<td><%= homeTeam.Lineup[i].gameStats.HomeRuns %> </td>
								<td><%= homeTeam.Lineup[i].gameStats.RunsBattedIn %></td>
								<td><%= homeTeam.Lineup[i].gameStats.Walks %></td>
								<td><%= homeTeam.Lineup[i].gameStats.StrikeOuts %></td>
							</tr>
							<% } %>
						</table>
						<table id = "homeTeamPitching" border="3" width="100%">
  							<tr>
    							<th>Name</th>	
    							<th>Rating</th>
    							<th>IP</th>
    							<th>H</th>
    							<th>R</th>
    							<th>BB</th>
								<th>SO</th>
  							</tr>
							<tr>
								<td><%= homeTeam.pitcher.Name %></td>
								<td><%= homeTeam.pitcher.Rating %></td>
								<td><%= homeTeam.pitcher.gameStats.InningsPitched %></td>
								<td><%= homeTeam.pitcher.gameStats.Hits %></td>
								<td><%= homeTeam.pitcher.gameStats.Runs %></td>
								<td><%= homeTeam.pitcher.gameStats.Walks %></td>
								<td><%= homeTeam.pitcher.gameStats.StrikeOuts %></td>
							</tr>
						</table>
					</div>
			</div>
			<div class="col-lg-6">
				<h3>Away Team</h3>
					<div class = "row-fluid">
						<table id = "awayTeamTable" border="3" width="100%">
  							<tr>
    							<th>Order</th>
    							<th>Name</th>
    							<th>Position</th>		
    							<th>AB</th>
    							<th>R</th>
    							<th>H</th>
    							<th>HR</th>
    							<th>RBI</th>
    							<th>BB</th>
								<th>SO</th>
  							</tr>
							<% for(i = 0; i < awayTeam.Lineup.length; i++){ %>
							<tr>
								<td><%= i + 1 %></td>
								<td><%= awayTeam.Lineup[i].Name %></td>
								<td><%= awayTeam.Lineup[i].Position %></td>
								<td><%= awayTeam.Lineup[i].gameStats.PlateAppearances - awayTeam.Lineup[i].gameStats.Walks %></td>
								<td><%= awayTeam.Lineup[i].gameStats.Runs %></td>
								<td><%= awayTeam.Lineup[i].gameStats.Singles + awayTeam.Lineup[i].gameStats.Doubles + awayTeam.Lineup[i].gameStats.Triples + awayTeam.Lineup[i].gameStats.HomeRuns %></td>
								<td><%= awayTeam.Lineup[i].gameStats.HomeRuns %> </td>
								<td><%= awayTeam.Lineup[i].gameStats.RunsBattedIn %></td>
								<td><%= awayTeam.Lineup[i].gameStats.Walks %></td>
								<td><%= awayTeam.Lineup[i].gameStats.StrikeOuts %></td>
							</tr>
							<% } %>
						</table>
						<table id = "awayTeamPitching" border="3" width="100%">
						<tr>
							<th>Name</th>	
							<th>Rating</th>
							<th>IP</th>
							<th>H</th>
							<th>R</th>
							<th>BB</th>
							<th>SO</th>
						</tr>
						<tr>
							<td><%= awayTeam.pitcher.Name %></td>
							<td><%= awayTeam.pitcher.Rating %></td>
							<td><%= awayTeam.pitcher.gameStats.InningsPitched %></td>
							<td><%= awayTeam.pitcher.gameStats.Hits %></td>
							<td><%= awayTeam.pitcher.gameStats.Runs %></td>
							<td><%= awayTeam.pitcher.gameStats.Walks %></td>
							<td><%= awayTeam.pitcher.gameStats.StrikeOuts %></td>
						</tr>
						</table>
					</div>
			</div>
		</div>
		<div class="row-fluid">
			<h5>Game Log:</h5>
			<p id="gameLog" style="overflow-y: scroll;max-height: 200px;"></p>
		</div>
</html>