<!DOCTYPE HTML>
<html>
	<h1>Play Game</h1>
		<div class="row-fluid">
			<div class="col-lg-6">
				<h3>Home Team</h3>
					<div class = "row-fluid">
						<table id = "homeTeamTable" border="3" width="100%">
  							<tr>
    							<th>Order</th>
    							<th>Name</th>
    							<th>Position</th>		
    							<th>Rating</th>
  							</tr>
  							<% for(i = 0; i < homeTeam.length; i++){ %>
							<tr>
								<td><%= i + 1 %></td>
								<td><%= homeTeam[i].Name %></td>
								<td><%= homeTeam[i].Position %></td>
								<td><%= homeTeam[i].Rating %></td>
							</tr>
							<% } %>
						</table>
					</div>
			</div>
			<div class="col-lg-6">
				<h3>Away Team</h3>
					<div class = "row-fluid">
						<table id = "awayTeamTable" border="3" width="100%">
  							<tr>
    							<th>Order</th>
    							<th>Name</th>
    							<th>Position</th>		
    							<th>Rating</th>
  							</tr>
							<% for(i = 0; i < awayTeam.length; i++){ %>
							<tr>
								<td><%= i + 1 %></td>
								<td><%= awayTeam[i].Name %></td>
								<td><%= awayTeam[i].Position %></td>
								<td><%= awayTeam[i].Rating %></td>
							</tr>
							<% } %>
						</table>
					</div>
			</div>
		</div>
		<div class="row-fluid">
			<a id='playGameButton' class='btn button-default' >Play Game</a>
		</div>
</html>