<!DOCTYPE HTML>
<html>
	<h1>Play Game</h1>
		<div class="row-fluid">
			<div class="col-lg-6">
				<h3>Home Team</h3>
					<div class = "row-fluid">
						<table id = "homeTeamTable" border="3" width="100%">
  							<tr>
    							<th>Order</th>
    							<th>Name</th>
    							<th>Position</th>		
    							<th>Rating</th>
    							<th>PA</th>
    							<th>H</th>
    							<th>HR</th>
    							<th>RBI</th>
    							<th>BB</th>    							
  							</tr>
  							<% for(i = 0; i < homeTeam.Lineup.length; i++){ %>
							<tr>
								<td><%= i + 1 %></td>
								<td><%= homeTeam.Lineup[i].Name %></td>
								<td><%= homeTeam.Lineup[i].Position %></td>
								<td><%= homeTeam.Lineup[i].Rating %></td>
								<td><%= homeTeam.Lineup[i].GameStats.PlateAppearances %></td>
								<td><%= homeTeam.Lineup[i].GameStats.Singles + homeTeam.Lineup[i].GameStats.Doubles + homeTeam.Lineup[i].GameStats.Triples + homeTeam.Lineup[i].GameStats.HomeRuns %></td>
								<td><%= homeTeam.Lineup[i].GameStats.HomeRuns %> </td>
								<td><%= homeTeam.Lineup[i].GameStats.RunsBattedIn %></td>
								<td><%= homeTeam.Lineup[i].GameStats.Walks %></td>
							</tr>
							<% } %>
						</table>
					</div>
			</div>
			<div class="col-lg-6">
				<h3>Away Team</h3>
					<div class = "row-fluid">
						<table id = "awayTeamTable" border="3" width="100%">
  							<tr>
    							<th>Order</th>
    							<th>Name</th>
    							<th>Position</th>		
    							<th>Rating</th>
    							<th>PA</th>
    							<th>H</th>
    							<th>HR</th>
    							<th>RBI</th>
    							<th>BB</th>  
  							</tr>
							<% for(i = 0; i < awayTeam.Lineup.length; i++){ %>
							<tr>
								<td><%= i + 1 %></td>
								<td><%= awayTeam.Lineup[i].Name %></td>
								<td><%= awayTeam.Lineup[i].Position %></td>
								<td><%= awayTeam.Lineup[i].Rating %></td>
								<td><%= awayTeam.Lineup[i].GameStats.PlateAppearances %></td>
								<td><%= awayTeam.Lineup[i].GameStats.Singles + awayTeam.Lineup[i].GameStats.Doubles + awayTeam.Lineup[i].GameStats.Triples + awayTeam.Lineup[i].GameStats.HomeRuns %></td>
								<td><%= awayTeam.Lineup[i].GameStats.HomeRuns %> </td>
								<td><%= awayTeam.Lineup[i].GameStats.RunsBattedIn %></td>
								<td><%= awayTeam.Lineup[i].GameStats.Walks %></td>
							</tr>
							<% } %>
						</table>
					</div>
			</div>
		</div>
		<div class="row-fluid">
			<a id='playGameButton' class='btn button-default' >Play Game</a>
		</div>
</html>