<!DOCTYPE html>
<html lang="en">
  	<head>
    	<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="description" content="">
		<meta name="author" content="">
		<link href="http://www.excella.com/img/favicon.ico" rel="shortcut icon" type="image/x-icon" />
		<title>
			BI Automated Testing Project
		</title>
		<link rel="stylesheet" href="/css/bootstrap.min.css">
		<link rel="stylesheet" href="/css/font-awesome.min.css">
	</head>
	<body>
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="text-center" style="margin-top: 50px;">
						<i class="fa fa-cog fa-spin fa-4x"></i> 
						<span style="font-size:24px; margin-left: 15px;"><%=message%></span>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<div id="step-pieChart">
						
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<div id="postTime-barChart">
						
					</div>
				</div>
			</div>
		</div>
	<script src="/js/jquery-1.10.2.min.js"></script>
	<script src="/js/bootstrap.js"></script>
	<script src="/js/d3.js"></script>
	<script src="/js/crossfilter.js"></script>
	<script src="/js/dc.js"></script>
	<script src='/js/localJs.js'></script>
	</body>
</html>

